body {
    text-align: center;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.main {
    min-height: 80vh;
}

.form {
    padding: 1rem;
    max-width: 400px;
    text-align: left;
    margin: auto;
}

.form__text {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0.5rem;
}